
body{
    background-image: url('../asset/images/beijingtupian.png');
}

.title{

    width: 100%;
    height: 10vh;
    text-align: center;
    color:#fff;
    font-size: 2em;
    line-height: 10vh;
}
.box {

    position: absolute;
    width: 90%;
    height: 80vh;
    left:5%;
    top:10%;
    background-color:rgba(24,27,52,0.62);
}

.chart{
	position: relative;
	height: 90%;
	top:10%;
}
.backBtn{
    position: absolute;
    top:0;
    background-color: #00C298;
    border: 0;
    color:#fff;
    height: 27px;
    font-family: Microsoft Yahei;
    font-size: 1em;
    cursor: pointer;
}
.myBlog{
    position: absolute;
    top:2px;
    right: 5%;
    display: block;
    border: 2px solid #262A53;
    
    
}
.myBlog a{
    text-decoration: none;
    display: inline-block;;
    color: #fff;
    padding: 5px;
    font-size: 1em;
}

.myBlog a img {
    vertical-align: middle;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    margin: -5px 5px auto auto;
}
.bottom{
    position: absolute;
    width: 100%;
    height: 5%;
    line-height: 100%;
    left:0;
    bottom: 0%;
    text-align: center;
}